.jumbotron {
  background-image: url("../images/UT_Header.png"); */
  background-size: cover;
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
}

.navbar {
  margin:0;
}

<style>

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline;
}



</style>