<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>University of Texas Play Caller</title>
    <!-- accessing Bootstrap content delivery network (CDN) -->
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
    />
    <!-- linking to stylesheet location, CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/ico" href="../static/images/UTfootballLogo.jpg">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand navbar-left" href="/">University of Texas Football - Defensive Play Caller</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/findings">Findings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/methodology">Methodology</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid my-2">
        <div class="container my-0">
            <div class="row my-0">
                <h1>Welcome to the UT Play Caller</h1>
                <p class="lead text-left">
                   <b> Calling the right play is key to winning, and the defense play caller below is here to give you the victory!</b> 
                   <br><br>
                    In football, offense makes most headlines; defense sets this up through dominating opposing offense and delivering good field position, 
                    thus allowing an easier time scoring.  Simply, offense may win games, but DEFENSE wins championships! Hook 'Em! <br>
                    <br>If you want to know more about our logic and machine learning process, check out our 
                    <a style="color:burlywood;" href="/methodology"><b>Methodology</b></a>
                     and read our 
                    <a style="color:burlywood;" href="/findings"><b>Findings</b></a>
                    sections. 
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-md-4">
                <form action="/predict" method="POST">
                    <p><b>Current Play</b></p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label for="quarter">Enter Quarter</label>
                            <select name="quarter" id="quarter_select">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">OT</option>
                            </select>
                        </li>
                        <li class="list-group-item bg-light">
                            <div>
                                <label for="clock">Enter Time Remaining in Quarter</label>
                                <select name="clock" id="clock_select">
                                    <option value="7">14-15</option>
                                    <option value="6">12-14</option>
                                    <option value="5">10-12</option>
                                    <option value="4">8-10</option>
                                    <option value="3">6-8</option>
                                    <option value="2">4-6</option>
                                    <option value="1">2-4</option>
                                    <option value="0">0-2</option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label for="down">Enter Down</label>
                            <input type="number" value="1" name= "down" id="down_select" min="1" max="4"/>
                        </li>
                        <li class="list-group-item bg-light">
                            <label for="distance">Enter Yards to Go</label>
                            <input type="number" name="distance" id="yards_to_go" value="10"/>
                        </li>
                        <li class="list-group-item bg-dark text-center">
                            <button id="filter-btn" type="submit" class="btn btn-dark text-large">
                                <h3><b>Call Play</b></h3>
                            </button>
                        </li><br>
                    </ul>
                </form>
                <div>
                    <h4>
                        <p><b>You need to call a: 
                            <h2>
                                <p class="text-success">{{ call }}</p>
                            </h2>
                        </b></p>
                    </h4>
                </div>
            </div>
            <br><br>  
            <div class="col-md-8" style="text-align: left">
                <p><b>Take a look at the chart below to learn how different variables positively or negatively affect the probability of plays.  
                    As a football fan may expect, down and distance have the most impact while others, not so much.<br> 
                <img src="../static/images/TriangleHeatMap.png" class="img-fluid" alt="Responsive image"/>
                <br>Look at the 
                <a style="color:lightslategrey" href="/findings">findings</a>
                page to see how these correlate to the prediction.</b></p>
            </div><br>
    </div>
</body>
</html>
